{% extends 'base.html.twig' %}

{% block title %}Hello FaqController!
{% endblock %}

{% block body %}
	<!-- BreadCrumb Starts -->
	<section class="breadcrumb-main pb-0 pt-20" style="background-image: url(images/bg/bg2.jpg);">
		<div class="breadcrumb-outer">
			<div class="container">
				<div class="breadcrumb-content d-md-flex align-items-center pt-6">
					<h1 class="mb-0">Faq</h1>
					<nav aria-label="breadcrumb">
						<ul class="breadcrumb">
							<li class="breadcrumb-item">
								<a href="#">Home</a>
							</li>
							<li class="breadcrumb-item active" aria-current="page">Faq</li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
		<div class="dot-overlay"></div>
	</section>
	<!-- BreadCrumb Ends -->

	<!-- About detail Start -->
	<section class="faq-main pb-6 pt-10">
		<div class="container">
			<div class="faq-accordian">
				<div class="row">
					<div class="col-lg-6 col-md-12 mb-4">
						<div class="accrodion-grp faq-accrodion" data-grp-name="faq-accrodion1">
							<div class="accrodion active">
								<div class="accrodion-title">
									<h5>Who We Are?</h5>
								</div>
								<div class="accrodion-content" style="display: block;">
									<div class="inner">
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, inventore cumque veniam, praesentium velit incidunt rem quas a, quos eos ipsum, reprehenderit voluptatem.</p>
									</div>
									<!-- /.inner -->
								</div>
							</div>
							<div class="accrodion ">
								<div class="accrodion-title">
									<h5>Wanna know our Special Features?</h5>
								</div>
								<div class="accrodion-content" style="display: none;">
									<div class="inner">
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, inventore cumque veniam, praesentium velit incidunt rem quas a, quos eos ipsum, reprehenderit voluptatem.</p>
									</div>
									<!-- /.inner -->
								</div>
							</div>
							<div class="accrodion">
								<div class="accrodion-title">
									<h5>Check Your Status</h5>
								</div>
								<div class="accrodion-content" style="display: none;">
									<div class="inner">
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, inventore cumque veniam, praesentium velit incidunt rem quas a, quos eos ipsum, reprehenderit voluptatem.</p>
									</div>
									<!-- /.inner -->
								</div>
							</div>
							<div class="accrodion ">
								<div class="accrodion-title">
									<h5>Why choose us?</h5>
								</div>
								<div class="accrodion-content" style="display: none;">
									<div class="inner">
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, inventore cumque veniam, praesentium velit incidunt rem quas a, quos eos ipsum, reprehenderit voluptatem.</p>
									</div>
									<!-- /.inner -->
								</div>
							</div>
							<div class="accrodion ">
								<div class="accrodion-title">
									<h5>How do I post my listing</h5>
								</div>
								<div class="accrodion-content" style="display: none;">
									<div class="inner">
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, inventore cumque veniam, praesentium velit incidunt rem quas a, quos eos ipsum, reprehenderit voluptatem.</p>
									</div>
									<!-- /.inner -->
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-6 col-md-12 mb-4">
						<div class="accrodion-grp faq-accrodion" data-grp-name="faq-accrodion2">
							<div class="accrodion active">
								<div class="accrodion-title">
									<h5>Why my card payment is failing?</h5>
								</div>
								<div class="accrodion-content" style="display: block;">
									<div class="inner">
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, inventore cumque veniam, praesentium velit incidunt rem quas a, quos eos ipsum, reprehenderit voluptatem.</p>
									</div>
									<!-- /.inner -->
								</div>
							</div>
							<div class="accrodion ">
								<div class="accrodion-title">
									<h5>Can I upload attachments</h5>
								</div>
								<div class="accrodion-content" style="display: none;">
									<div class="inner">
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, inventore cumque veniam, praesentium velit incidunt rem quas a, quos eos ipsum, reprehenderit voluptatem.</p>
									</div>
									<!-- /.inner -->
								</div>
							</div>
							<div class="accrodion">
								<div class="accrodion-title">
									<h5>Can I create a profile page for business</h5>
								</div>
								<div class="accrodion-content" style="display: none;">
									<div class="inner">
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, inventore cumque veniam, praesentium velit incidunt rem quas a, quos eos ipsum, reprehenderit voluptatem.</p>
									</div>
									<!-- /.inner -->
								</div>
							</div>
							<div class="accrodion ">
								<div class="accrodion-title">
									<h5>What is the price of posting</h5>
								</div>
								<div class="accrodion-content" style="display: none;">
									<div class="inner">
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, inventore cumque veniam, praesentium velit incidunt rem quas a, quos eos ipsum, reprehenderit voluptatem.</p>
									</div>
									<!-- /.inner -->
								</div>
							</div>
							<div class="accrodion ">
								<div class="accrodion-title">
									<h5>How do I post my listing</h5>
								</div>
								<div class="accrodion-content" style="display: none;">
									<div class="inner">
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, inventore cumque veniam, praesentium velit incidunt rem quas a, quos eos ipsum, reprehenderit voluptatem.</p>
									</div>
									<!-- /.inner -->
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- About detail Ends -->

	<!-- Call To Action Starts -->
	<section class="call-to-action pb-10 pt-0">
		<div class="container">
			<div class="section-title text-center w-75 mx-auto mb-5 pb-2">
				<h2 class="mb-2">Do You Have Any
					<span class="theme">Questions?</span>
				</h2>
				<p class="mb-0">As opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum'</p>
			</div>
			<div class="reservation-main w-75 mx-auto px-5">
				<form method="post" action="#" class="">
					<div class="row">
						<div class="col-lg-6 col-md-6">
							<div class="form-group mb-2">
								<label>Full Name</label>
								<input type="text" id="full-name">
							</div>
						</div>
						<div class="col-lg-6 col-md-6">
							<div class="form-group mb-2">
								<label>Phone No.</label>
								<input type="text" id="phone-no">
							</div>
						</div>
						<div class="col-lg-6 col-md-6">
							<div class="form-group mb-2">
								<label>Property Type</label>
								<div class="input-box">
									<select class="niceSelect">
										<option value="1">Luxury</option>
										<option value="2">Deluxe</option>
										<option value="3">Premium</option>
									</select>
								</div>
							</div>
						</div>
						<div class="col-lg-6 col-md-6">
							<div class="form-group mb-2">
								<label>Locations</label>
								<div class="input-box">
									<select class="niceSelect">
										<option value="1">Input Location</option>
										<option value="2">Argentina</option>
										<option value="3">Belgium</option>
										<option value="4">Canada</option>
										<option value="5">Denmark</option>
									</select>
								</div>
							</div>
						</div>
						<div class="col-lg-12">
							<div class="form-group mb-2">
								<label>Message</label>
								<textarea name="message" placeholder="Type your message here..."></textarea>
							</div>
						</div>
					</div>

					<div class="comment-btn text-center">
						<input type="submit" class="nir-btn" id="submit2" value="Send Message">
					</div>
				</form>
			</div>
		</div>
	</section>
	<!-- Call To Action Ends -->

	<!-- Discount action starts -->
	<section class="discount-action p-0">
		<div class="container">
			<div class="call-banner" style="background-image: url(images/bg/bg1.jpg);">
				<div class="row d-flex align-items-center">
					<div class="col-lg-6 col-md-8 p-0">
						<div class="call-banner-inner bg-theme1">
							<div class="trend-content-main">
								<div class="trend-content p-5">
									<h5 class="mb-1 white">Wanna to Sell Or Rent??</h5>
									<h2 class="mb-4 white">Looking to Buy a New Property or Sell an Existing One?</h2>
									<div class="section-btns d-flex align-items-center">
										<a href="grid-leftfilter.html" class="nir-btn me-4">Rent Properties
											<i class="fa fa-arrow-right white pl-1"></i>
										</a>
										<a href="grid-rightfilter.html" class="nir-btn">Buy Properties
											<i class="fa fa-arrow-right white pl-1"></i>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-6 col-md-4 p-0"></div>
				</div>
			</div>
			<div class="partner-wrapper bg-grey p-4">
				<ul class="attract-slider">
					<li class="px-3"><img src="images/cl-1.png" alt=""></li>
					<li class="px-3"><img src="images/cl-2.png" alt=""></li>
					<li class="px-3"><img src="images/cl-3.png" alt=""></li>
					<li class="px-3"><img src="images/cl-4.png" alt=""></li>
					<li class="px-3"><img src="images/cl-5.png" alt=""></li>
					<li class="px-3"><img src="images/cl-3.png" alt=""></li>
					<li class="px-3"><img src="images/cl-4.png" alt=""></li>
					<li class="px-3"><img src="images/cl-5.png" alt=""></li>
				</ul>
			</div>
		</div>
	</section>
	<!-- Discount action Ends -->

	<!-- content-line start -->
	<div class="content-line m-0">
		<div class="content-line-inner bg-theme2 pb-6 pt-6 p-5">
			<div class="container">
				<div class="row d-md-flex align-items-center justify-content-between text-lg-start text-center">
					<div class="col-lg-9">
						<h2 class="mb-0 white">
							Looking for a dream home?
						</h2>
						<p class="white">We can help you realize your dream of a new home</p>
					</div>
					<div class="col-lg-3">
						<a href="listing-leftfilter.html" class="nir-btn-black float-lg-end float-none">Fine More Properties</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- content-line ends -->


	<!-- Back to top start -->
	<div id="back-to-top">
		<a href="#"></a>
	</div>
	<!-- Back to top ends -->

	<!-- search popup -->
	<div id="search1">
		<button type="button" class="close">×</button>
		<form>
			<input type="search" value="" placeholder="type keyword(s) here"/>
			<button type="submit" class="btn btn-primary">Search</button>
		</form>
	</div>

	<!-- login registration modal -->
	<div class="modal fade log-reg" id="exampleModal" tabindex="-1" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-body">
					<div
						class="post-tabs">
						<!-- tab navs -->
						<ul class="nav nav-tabs nav-pills nav-fill" id="postsTab" role="tablist">
							<li class="nav-item" role="presentation">
								<button aria-controls="login" aria-selected="false" class="nav-link active" data-bs-target="#login" data-bs-toggle="tab" id="login-tab" role="tab" type="button">Login</button>
							</li>
							<li class="nav-item" role="presentation">
								<button aria-controls="register" aria-selected="true" class="nav-link" data-bs-target="#register" data-bs-toggle="tab" id="register-tab" role="tab" type="button">Register</button>
							</li>
						</ul>
						<!-- tab contents -->
						<div
							class="tab-content blog-full" id="postsTabContent">
							<!-- popular posts -->
							<div aria-labelledby="login-tab" class="tab-pane fade active show" id="login" role="tabpanel">
								<div class="row">
									<div class="col-lg-6">
										<div class="blog-image">
											<a href="#" style="background-image: url(images/trending/trending5.jpg);"></a>
										</div>
									</div>
									<div class="col-lg-6">
										<h4 class="text-center border-b pb-2">Login</h4>
										<div class="log-reg-button d-flex align-items-center justify-content-between">
											<button type="submit" class="btn btn-fb">
												<i class="fab fa-facebook"></i>
												Login with Facebook
											</button>
											<button type="submit" class="btn btn-google">
												<i class="fab fa-google"></i>
												Login with Google
											</button>
										</div>
										<hr class="log-reg-hr position-relative my-4 overflow-visible">
										<form method="post" action="#" name="contactform" id="contactform">
											<div class="form-group mb-2">
												<input type="text" name="user_name" class="form-control" id="fname" placeholder="User Name or Email Address">
											</div>
											<div class="form-group mb-2">
												<input type="password" name="password_name" class="form-control" id="lpass" placeholder="Password">
											</div>
											<div class="form-group mb-2">
												<input type="checkbox" class="custom-control-input" id="exampleCheck">
												<label class="custom-control-label mb-0" for="exampleCheck1">Remember me</label>
												<a class="float-end" href="#">Lost your password?</a>
											</div>
											<div class="comment-btn mb-2 pb-2 text-center border-b">
												<input type="submit" class="nir-btn w-100" id="submit" value="Login">
											</div>
											<p class="text-center">Don't have an account?
												<a href="#" class="theme">Register</a>
											</p>
										</form>
									</div>
								</div>
							</div>
							<!-- Recent posts -->
							<div aria-labelledby="register-tab" class="tab-pane fade" id="register" role="tabpanel">
								<div class="row">
									<div class="col-lg-6">
										<div class="blog-image">
											<a href="#" style="background-image: url(images/trending/trending5.jpg);"></a>
										</div>
									</div>
									<div class="col-lg-6">
										<h4 class="text-center border-b pb-2">Register</h4>
										<div class="log-reg-button d-flex align-items-center justify-content-between">
											<button type="submit" class="btn btn-fb">
												<i class="fab fa-facebook"></i>
												Login with Facebook
											</button>
											<button type="submit" class="btn btn-google">
												<i class="fab fa-google"></i>
												Login with Google
											</button>
										</div>
										<hr class="log-reg-hr position-relative my-4 overflow-visible">
										<form method="post" action="#" name="contactform1" id="contactform1">
											<div class="form-group mb-2">
												<input type="text" name="user_name" class="form-control" id="fname1" placeholder="User Name">
											</div>
											<div class="form-group mb-2">
												<input type="text" name="user_name" class="form-control" id="femail" placeholder="Email Address">
											</div>
											<div class="form-group mb-2">
												<input type="password" name="password_name" class="form-control" id="lpass1" placeholder="Password">
											</div>
											<div class="form-group mb-2">
												<input type="password" name="password_name" class="form-control" id="lrepass" placeholder="Re-enter Password">
											</div>
											<div class="form-group mb-2 d-flex">
												<input type="checkbox" class="custom-control-input" id="exampleCheck1">
												<label class="custom-control-label mb-0 ms-1 lh-1" for="exampleCheck1">I have read and accept the Terms and Privacy Policy?</label>
											</div>
											<div class="comment-btn mb-2 pb-2 text-center border-b">
												<input type="submit" class="nir-btn w-100" id="submit1" value="Register">
											</div>
											<p class="text-center">Already have an account?
												<a href="#" class="theme">Login</a>
											</p>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
