{% extends 'base.html.twig' %}
{% form_theme formcontact 'bootstrap_5_layout.html.twig' %}
{% block title %}Hello ContactController!
{% endblock %}

{% block body %}
	<!-- contact starts -->
	<section class="contact-main pt-0 pb-10 bg-grey">
		<div class="map">
			<div style="width: 100%">
				<iframe height="500" src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=+(mangal%20bazar)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe>
			</div>
		</div>
		<div class="container">
			<div class="contact-info-main">
				<div class="row">
					<div class="col-lg-10 col-offset-lg-1 mx-auto">
						<div class="contact-info bg-white pt-10 pb-10 px-5">
							<div class="contact-info-title text-center mb-4 px-5">
								<h3 class="mb-1">INFORMATION ABOUT US</h3>
								<p class="mb-0">Sagittis posuere id nam quis vestibulum vestibulum a facilisi at elit hendrerit scelerisque sodales nam dis orci.</p>
							</div>
							<div class="contact-info-content row mb-1">
								<div class="col-lg-4 col-md-6 mb-4">
									<div class="info-item bg-lgrey px-4 py-5 border-all text-center">
										<div class="info-icon mb-2">
											<i class="fa fa-map-marker"></i>
										</div>
										<div class="info-content">
											<p class="m-0">445 Mount Eden Road, Mt Eden</p>
											<p class="m-0">Basundhara Chakrapath</p>
										</div>
									</div>
								</div>
								<div class="col-lg-4 col-md-6 mb-4">
									<div class="info-item bg-lgrey px-4 py-5 border-all text-center">
										<div class="info-icon mb-2">
											<i class="fa fa-phone"></i>
										</div>
										<div class="info-content">
											<p class="m-0">977-444-666-888</p>
											<p class="m-0">977-444-222-000</p>
										</div>
									</div>
								</div>
								<div class="col-lg-4 col-md-12 mb-4">
									<div class="info-item bg-lgrey px-4 py-5 border-all text-center">
										<div class="info-icon mb-2">
											<i class="fa fa-envelope"></i>
										</div>
										<div class="info-content ps-4">
											<p class="m-0">info@realshield.com</p>
											<p class="m-0">help@realshield.com</p>
										</div>
									</div>
								</div>
							</div>
							<div id="contact-form1" class="contact-form px-5">
								<div class="contact-info-title text-center mb-4 px-5">
									<h3 class="mb-1">Contactez Nous</h3>
									<p class="mb-0">Fundpress site thoughtfully designed for real humans which means the best user experience for your entire community.</p>
								</div>
								<!--formulaire en twig -->
								<div id="contactform-error-msg"></div>
								{{ form_start(formcontact) }}
								{{ form_widget(formcontact) }}
								<div class="comment-btn text-center">
									<input type="submit" class="btn btn-success" value="Envoyer Message">
								</div>
								{{ form_end(formcontact )}}


							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- contact Ends -->
	<!-- content-line start -->
	<div class="content-line m-0">
		<div class="content-line-inner bg-theme2 pb-6 pt-6 p-5">
			<div class="container">
				<div class="row d-md-flex align-items-center justify-content-between text-lg-start text-center">
					<div class="col-lg-9">
						<h2 class="mb-0 white">
							Looking for a dream home?
						</h2>
						<p class="white">We can help you realize your dream of a new home</p>
					</div>
					<div class="col-lg-3">
						<a href="" class="nir-btn-black float-lg-end float-none">Fine More Properties</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- content-line ends -->

	<!-- Back to top start -->
	<div id="back-to-top">
		<a href="#"></a>
	</div>
	<!-- Back to top ends -->


{% endblock %}
