<!-- footer starts -->
<footer class="pt-10 footermain">
	<div class="footer-upper pb-4">
		<div class="container">
			<div class="row">
				<div class="col-lg-4 col-md-6 col-sm-12 mb-4">
					<div class="footer-about">
						<img
						src="images/logo-white.png" alt="">
						<!--			<p class="mt-3 mb-3 white">
																									Lorem ipsum dolor sit amet, consectetur adipiscing elit. Odio suspendisse leo neque iaculis molestie sagittis maecenas aenean eget molestie sagittis.
																								</p>
																								-->
						<ul>
							<li class="white">
								<strong>PO Box:</strong>
								+47-252-254-2542</li>
							<li class="white">
								<strong>Location:</strong>
								Collins Street, sydney, Australia</li>
							<li class="white">
								<strong>Email:</strong>
								info@realshield.com</li>
							<li class="white">
								<strong>Website:</strong>
								www.realshield.com</li>
						</ul>
					</div>
				</div>
				<!--	<div class="col-lg-2 col-md-6 col-sm-12 mb-4">
																					<div class="footer-links">
																						<h3 class="white">Quick link</h3>
																						<ul>
																							<li><a href="about-us.html">About Us</a></li>
																							<li><a href="about-us.html">Delivery Information</a></li>
																							<li><a href="about-us.html">Privacy Policy</a></li>
																							<li><a href="about-us.html">Terms &amp; Conditions</a></li>
																							<li><a href="about-us.html">Customer Service</a></li>
																							<li><a href="#about-us.html">Return Policy</a></li>
																						</ul>
																					</div>
																				</div>
																		-->
			<!--	<div class="col-lg-2 col-md-6 col-sm-12 mb-4">
																									<div class="footer-links">
																										<h3 class="white">Popular Tags</h3>
																										<div class="tagcloud">
																											<a class="tag-cloud-link bg-white black p-2 mb-1" href="post-grid-1.html">Beautiful</a>
																											<a class="tag-cloud-link bg-white black p-2 mb-1" href="post-grid-1.html">Public</a>
																											<a class="tag-cloud-link bg-white black p-2 mb-1" href="post-grid-1.html">Technology</a>
																											<a class="tag-cloud-link bg-white black p-2 mb-1" href="post-grid-1.html">Travel</a>
																											<a class="tag-cloud-link bg-white black p-2 mb-1" href="post-grid-1.html">Entertainment</a>
																											<a class="tag-cloud-link bg-white black p-2 mb-1" href="post-grid-1.html">Blog</a>
																											<a class="tag-cloud-link bg-white black p-2 mb-1" href="post-grid-1.html">Sports
																											</a>
																										</div>
																									</div>
																								</div>
																								-->
				<!--	<div class="col-lg-4 col-md-6 col-sm-12 mb-4">
																									<div class="footer-links">
																										<h3 class="white">Popular Posts</h3>
																										<div class="trend-main">
																											<div class="trend-item d-flex align-items-center mb-2">
																												<div class="trend-image w-25 me-4">
																													<img src="images/trending/trending4.jpg" alt="image">
																												</div>
																												<div class="trend-content-main w-75">
																													<div class="trend-content">
																														<h5 class="mb-1">
																															<a href="detail-1.html">3 Easy Ways To Make Your iPhone Faster</a>
																														</h5>
																														<div class="entry-meta">
																															<div class="entry-metalist d-flex align-items-center">
																																<small>
																																	<a href="post-grid-1.html" class="white">
																																		<i class="fa fa-calendar"></i>
																																		22 Mar 2021</a>
																																</small>
																															</div>
																														</div>
																													</div>
																												</div>
																											</div>
																				
																											<div class="trend-item d-flex align-items-center mb-2">
																												<div class="trend-image w-25 me-4">
																													<img src="images/trending/trending5.jpg" alt="image">
																												</div>
																												<div class="trend-content-main w-75">
																													<div class="trend-content">
																														<h5 class="mb-1">
																															<a href="detail-1.html">Facts About Business That Will Help You Success</a>
																														</h5>
																														<div class="entry-meta">
																															<div class="entry-metalist d-flex align-items-center">
																																<small>
																																	<a href="post-grid-1.html" class="white">
																																		<i class="fa fa-calendar"></i>
																																		22 Mar 2021</a>
																																</small>
																															</div>
																														</div>
																													</div>
																												</div>
																											</div>
																				
																											<div class="trend-item d-flex align-items-center mb-2">
																												<div class="trend-image w-25 me-4">
																													<img src="images/trending/trending6.jpg" alt="image">
																												</div>
																												<div class="trend-content-main w-75">
																													<div class="trend-content">
																														<h5 class="mb-1">
																															<a href="detail-1.html">Your Light Is About To Stop Being Relevant</a>
																														</h5>
																														<div class="entry-meta">
																															<div class="entry-metalist d-flex align-items-center">
																																<small>
																																	<a href="post-grid-1.html" class="white">
																																		<i class="fa fa-calendar"></i>
																																		22 Mar 2021</a>
																																</small>
																															</div>
																														</div>
																													</div>
																												</div>
																											</div>
																										</div>
																									</div>
																									-->
			</div>
		</div>
	</div>
</div>
<div class="footer-copyright pt-2 pb-2">
	<div class="container">
		<div class="copyright-inner d-md-flex align-items-center justify-content-between">
			<div class="copyright-text">
				<p class="m-0 white">2022 Copyright All rights reserved.</p>
			</div>
			<div class="social-links">
				<ul>
					<li><a href="#"><i class="fab fa-facebook" aria-hidden="true"></i></a></li>
					<li><a href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
					<li><a href="#"><i class="fab fa-instagram" aria-hidden="true"></i></a></li>
					<li><a href="#"><i class="fab fa-linkedin" aria-hidden="true"></i></a></li>
				</ul>
			</div>
		</div>
	</div>
</div></footer><!-- footer ends -->
